In [1]:
import pandas as pd
import time

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_2656\1582058754.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df = pd.read_csv('C:/Users/SAMSUNG/Documents/vscode/2024/ML/해커톤/CSV/20년배당성향.자본2.csv',encoding='cp949')
df

            회사명  거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)  자본(*)(IFRS)(천원)
0      (주)DB하이텍    990  2000/12  22.00                NaN              NaN
1      (주)DB하이텍    990  2001/12  20.00                NaN              NaN
2      (주)DB하이텍    990  2002/12  29.36                NaN              NaN
3      (주)DB하이텍    990  2003/12  36.68                NaN              NaN
4      (주)DB하이텍    990  2004/12  11.68                NaN              NaN
...         ...    ...      ...    ...                ...              ...
16264   흥아해운(주)   3280  2019/12   0.00         30919383.0       17632229.0
16265   흥아해운(주)   3280  2020/12   0.00        -26283865.0      -20161176.0
16266   흥아해운(주)   3280  2021/12   0.00        102939788.0      108146996.0
16267   흥아해운(주)   3280  2022/12   0.00        135304736.0      128025089.0
16268   흥아해운(주)   3280  2023/12    NaN        170714206.0      150901297.0

[16269 rows x 6 columns]

In [10]:
df = pd.read_csv('./CSV/20년배당성향.자본2.csv',encoding='cp949')
df

            회사명  거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)  자본(*)(IFRS)(천원)
0      (주)DB하이텍    990  2000/12  22.00                NaN              NaN
1      (주)DB하이텍    990  2001/12  20.00                NaN              NaN
2      (주)DB하이텍    990  2002/12  29.36                NaN              NaN
3      (주)DB하이텍    990  2003/12  36.68                NaN              NaN
4      (주)DB하이텍    990  2004/12  11.68                NaN              NaN
...         ...    ...      ...    ...                ...              ...
16264   흥아해운(주)   3280  2019/12   0.00         30919383.0       17632229.0
16265   흥아해운(주)   3280  2020/12   0.00        -26283865.0      -20161176.0
16266   흥아해운(주)   3280  2021/12   0.00        102939788.0      108146996.0
16267   흥아해운(주)   3280  2022/12   0.00        135304736.0      128025089.0
16268   흥아해운(주)   3280  2023/12    NaN        170714206.0      150901297.0

[16269 rows x 6 columns]

In [22]:
df_copy = df.copy()
df_copy

            회사명  거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)  자본(*)(IFRS)(천원)
0      (주)DB하이텍    990  2000/12  22.00                NaN              NaN
1      (주)DB하이텍    990  2001/12  20.00                NaN              NaN
2      (주)DB하이텍    990  2002/12  29.36                NaN              NaN
3      (주)DB하이텍    990  2003/12  36.68                NaN              NaN
4      (주)DB하이텍    990  2004/12  11.68                NaN              NaN
...         ...    ...      ...    ...                ...              ...
16264   흥아해운(주)   3280  2019/12   0.00         30919383.0       17632229.0
16265   흥아해운(주)   3280  2020/12   0.00        -26283865.0      -20161176.0
16266   흥아해운(주)   3280  2021/12   0.00        102939788.0      108146996.0
16267   흥아해운(주)   3280  2022/12   0.00        135304736.0      128025089.0
16268   흥아해운(주)   3280  2023/12    NaN        170714206.0      150901297.0

[16269 rows x 6 columns]

In [23]:
# NaN 값을 포함하는 행 출력
df_cleaned = df_copy.dropna(subset=['자본(*)(IFRS연결)(천원)', '자본(*)(IFRS)(천원)'], how='all')


# 결과 출력
print("NaN 값을 포함하는 행:")
print(df_cleaned)

NaN 값을 포함하는 행:
            회사명  거래소코드     회계년도  배당성향  자본(*)(IFRS연결)(천원)  자본(*)(IFRS)(천원)
7      (주)DB하이텍    990  2007/12   0.0        835716158.0      884960459.0
8      (주)DB하이텍    990  2008/12   0.0        844331741.0      860588250.0
9      (주)DB하이텍    990  2009/12   0.0        607545037.0      630803625.0
10     (주)DB하이텍    990  2010/12   0.0        398016157.0      376915607.0
11     (주)DB하이텍    990  2011/12   0.0        308061688.0      291709498.0
...         ...    ...      ...   ...                ...              ...
16264   흥아해운(주)   3280  2019/12   0.0         30919383.0       17632229.0
16265   흥아해운(주)   3280  2020/12   0.0        -26283865.0      -20161176.0
16266   흥아해운(주)   3280  2021/12   0.0        102939788.0      108146996.0
16267   흥아해운(주)   3280  2022/12   0.0        135304736.0      128025089.0
16268   흥아해운(주)   3280  2023/12   NaN        170714206.0      150901297.0

[11670 rows x 6 columns]

In [28]:
df1 = df_cleaned[df_cleaned[['자본(*)(IFRS연결)(천원)']].isna().any(axis=1)]

df1.columns

Index(['회사명', '거래소코드', '회계년도', '배당성향', '자본(*)(IFRS연결)(천원)', '자본(*)(IFRS)(천원)'], dtype='object')

In [30]:
df1['자본(*)(IFRS연결)(천원)'] = df1['자본(*)(IFRS)(천원)']

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_2656\636133457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['자본(*)(IFRS연결)(천원)'] = df1['자본(*)(IFRS)(천원)']

In [31]:
df1.drop(columns = ['자본(*)(IFRS)(천원)'])

              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)  자본(*)(IFRS)(천원)
47       (주)MH에탄올   23150  2007/12  40.36         36597472.0       36597472.0
95      (주)SIMPAC    9160  2007/12  14.22         68929199.0       68929199.0
96      (주)SIMPAC    9160  2008/12   7.85         92346316.0       92346316.0
112     (주)SNT에너지  100840  2008/12   9.30        145780749.0      145780749.0
113     (주)SNT에너지  100840  2009/12   9.40        172260354.0      172260354.0
...           ...     ...      ...    ...                ...              ...
16190     환인제약(주)   16580  2015/12  18.61        206594230.0      206594230.0
16191     환인제약(주)   16580  2016/12  23.28        220129262.0      220129262.0
16192     환인제약(주)   16580  2017/12  16.86        243083546.0      243083546.0
16193     환인제약(주)   16580  2018/12  21.29        259584460.0      259584460.0
16204  효성아이티엑스(주)   94280  2007/12   0.20         37435929.0       37435929.0

[2273 rows x 6 columns]

In [25]:
# NaN 값을 포함하는 행 삭제
df1 = df_copy.dropna(subset=['자본(*)(IFRS연결)(천원)', '자본(*)(IFRS)(천원)'])

# 결과 출력
print("NaN 값을 포함하지 않는 데이터프레임:")
print(df1)

NaN 값을 포함하지 않는 데이터프레임:
            회사명  거래소코드     회계년도  배당성향  자본(*)(IFRS연결)(천원)  자본(*)(IFRS)(천원)
7      (주)DB하이텍    990  2007/12   0.0        835716158.0      884960459.0
8      (주)DB하이텍    990  2008/12   0.0        844331741.0      860588250.0
9      (주)DB하이텍    990  2009/12   0.0        607545037.0      630803625.0
10     (주)DB하이텍    990  2010/12   0.0        398016157.0      376915607.0
11     (주)DB하이텍    990  2011/12   0.0        308061688.0      291709498.0
...         ...    ...      ...   ...                ...              ...
16264   흥아해운(주)   3280  2019/12   0.0         30919383.0       17632229.0
16265   흥아해운(주)   3280  2020/12   0.0        -26283865.0      -20161176.0
16266   흥아해운(주)   3280  2021/12   0.0        102939788.0      108146996.0
16267   흥아해운(주)   3280  2022/12   0.0        135304736.0      128025089.0
16268   흥아해운(주)   3280  2023/12   NaN        170714206.0      150901297.0

[9383 rows x 6 columns]

In [21]:
df2 = df1[df1[['자본(*)(IFRS연결)(천원)']].isna().any(axis=1)]

print(df2)

Empty DataFrame
Columns: [회사명, 거래소코드, 회계년도, 배당성향, 자본(*)(IFRS연결)(천원), 자본(*)(IFRS)(천원)]
Index: []